{{#each this}}
<div class="photo-card">
    <a class="photo-card__link" href="{{largeImageURL}}">
        <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="photo-card__img" />
    </a>
    <div class="info">
        <p class="info-item">
            <b>Likes</b><span class="info__span">{{likes}}</span>
        </p>
        <p class="info-item">
            <b>Views</b> <span class="info__span">{{views}}</span>
        </p>
        <p class="info-item">
            <b>Comments</b> <span class="info__span">{{comments}}</span>
        </p>
        <p class="info-item">
            <b>Downloads</b> <span class="info__span">{{downloads}}</span>
        </p>
    </div>
</div>
{{/each}}